body{
background-color: yellow;
color: yellow;
border: solid;
}
h1{
color: red;
text-decoration: underline;
}
img{
color: purple;
border: solid;
}
h4{
color: mediumblue;
}
#Nextbutton{
background-color: green;
font-weight: bold;
color: #000;
border-radius: 0px;
margin-bottom: 10px;
}





























